#!KAMAILIO
#!defenvs NXS_SIP_TOPOLOGY_KEY
debug=1
log_stderror=yes
fork=yes
children=2
listen=udp:0.0.0.0:5060
listen=tcp:0.0.0.0:5060
listen=tls:0.0.0.0:5061
disable_tcp=no
enable_tls=yes
tcp_max_connections=256
tls_max_connections=256
tcp_connect_timeout=2
tcp_connection_lifetime=3600
tcp_rd_buf_size=65536
tcp_accept_no_cl=no
tcp_accept_aliases=no
tls_connection_match_domain=yes
enable_sctp=no
dns=no
rev_dns=no
use_dns_failover=no
use_dns_cache=no
maxbuffer=65536
mpath="/usr/local/lib64/kamailio/modules/"
loadmodule "tls.so"
loadmodule "tm.so"
loadmodule "sl.so"
loadmodule "tmx.so"
loadmodule "pv.so"
loadmodule "rr.so"
loadmodule "maxfwd.so"
loadmodule "sanity.so"
loadmodule "textops.so"
loadmodule "textopsx.so"
loadmodule "kex.so"
loadmodule "dialog.so"
loadmodule "htable.so"
loadmodule "topoh.so"
loadmodule "app_python3.so"
loadmodule "xlog.so"
loadmodule "debugger.so"
modparam("tls", "config", "/etc/nxs/tls.cfg")
modparam("tls", "event_callback", "ksr_tls_event")
modparam("tls", "connection_timeout", 3600)
modparam("debugger", "mod_hash_size", 4)
modparam("debugger", "mod_level_mode", 1)
modparam("debugger", "mod_level", "core=-2")
modparam("tm", "fr_timer", 3000)
modparam("tm", "fr_inv_timer", 30000)
modparam("tm", "failure_reply_mode", 3)
modparam("rr", "enable_full_lr", 1)
modparam("rr", "append_fromtag", 1)
modparam("rr", "enable_double_rr", 2)
modparam("dialog", "db_mode", 0)
modparam("dialog", "hash_size", 1024)
modparam("dialog", "default_timeout", 3600)
modparam("htable", "htable", "nxs_bounds=>size=8;")
modparam("htable", "htable", "nxs_transactions=>size=10;autoexpire=120;")
modparam("htable", "htable", "nxs_dialogs=>size=10;")
modparam("topoh", "mask_key", NXS_SIP_TOPOLOGY_KEY)
modparam("topoh", "mask_ip", "127.0.0.8")
modparam("topoh", "sanity_checks", 1)
modparam("topoh", "uri_prefix_checks", 1)
modparam("app_python3", "load", "/etc/nxs/edge.py")
cfgengine "python"
